/* Special class for the logo so that it can be put anywhere */
.logo {
  aspect-ratio: 1;
  height: 70px;
  margin: 5px;
}

/* Center text */
.centered {
  text-align: center;
}

/* ABOVE HEADER */

.main-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image-overlay {
  color: whitesmoke;
  text-align: center;
  font-size: 36px;
  margin: 0px;
}

.cta-button {
  margin: 10px;
  font-size: 20px;
  width: 150px;
  height: 60px;
  border-radius: 30px;
  border-style: solid;
  border-width: 5px;
}

.primary-colors {
  background-color: darkorange;
  border-color: black;
  color: black;
}

.secondary-colors {
  background-color: whitesmoke;
  border-color: darkorange;
  color: darkorange;
}

/* HEADER */

/* Header DIV */
.sticky-header {
  position: sticky;
  top: -5px; /* To remove pixel flickering on phones */
  padding-top: 5px;
  height: 80px;
  background-color: black;
  display: flex;
}

/* Main image gradient (https://webdevetc.com/blog/how-to-add-a-gradient-overlay-to-a-background-image-using-just-css-and-html/) */
#main-image-gradient {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 60%, black 100%),
    url(Images/image.png);
  background-size: cover;
  margin: 0px;
}

/* Positioning the navigation options nicely on the header */
.nav-options-holder {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow-x: auto;
}

/* Options for navigating */
.nav-option {
  padding: 0px 10px;
  color: lightgray;
}

/* BELOW HEADER */

/* DIVs inside the "main flow" */
.full-width-div {
  margin: 10px 10%;
  padding: 10px 10px;
}

/* Cards which are basically flex divs */
.card {
  min-width: 100px;
  min-height: 100px;
  margin: 5px;
  padding: 5px 0px 0px 0px;
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border-width: 5px;
  border-style: solid;
  border-color: rgb(173, 173, 173);
}
.example-card {width: 200px; min-height: 300px;}

/* "Sticker" to be applied to the bottom or top of a card */
.card-sticker {
  background-color: rgb(39, 156, 39);
  border-top-style: solid;
  border-top-width: 5px;
  border-top-color: green;
  border-radius: 0px 0px 5px 5px;
  margin-top: auto;
}

/* This holds cards */
.card-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}

@media only screen and (min-width: 700px) {
  .card-holder {
    flex-direction: row;
  }
}

/* FOOTER */

/* End of page stuff */
.footer {
  background-color: black;
  display: flex;
  align-items: center;
  padding: 10px;
  margin-top: auto;
}

.item-list {
  display: flex;
  flex-direction: column;
}

/* BASE MODIFICATIONS */

/* Removing the annoying margin from the body (causing trouble for mobile???) 
Also adding off-white background */
body {
  margin: 0px;
  background-color: whitesmoke;
  overflow-x: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif
}

/* Making the paragraphs slightly more legible */
p {
  font-size: large;
}

/* Focused headers */
h1 {
  text-align: center;
  margin-top: 80px;
}
